.grid > div{
	max-height:40px;
}

.grid{
	display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: 500px;

	/* Play with: */
	justify-content: center; 
	/* justify-items: space-around;   */
	align-items: center; 
	align-content: center; 
 }

 


@media screen and (min-width: 776px){

	body{
		background-color: yellow;
	}

	.grid > div{
		max-height:none;
	}

	/* Make this a two column grid. */
	.grid{

		grid-template-columns: 200px 200px;
	
		
		/* Play with: */
		justify-content: center; 
		align-items: center;  


		
 	}

 	.item1{
 		 /* Span the entire first row  */
		grid-column:1/-1;

 	}
	
	.item2{
		/* Start in row 2 and span 3 rows */
		 grid-template-rows:2/span 3; 

	}

}
@media screen and (min-width: 1120px){
	body{
		background-color: green;
	}

	/* Make this a three column grid using fr. */
	.grid{

		grid-template-columns: 1fr 1fr 1fr;
		/* Why don't we bother with justify here? */
		justify-content: center;
	}
	.item3{
		/* Start in row 2 and span two rows 
		   Start in column 2 and span two columns */

		grid-template-rows:2/span 2;
		grid-template-columns:2/span 2;
		/* What happens if you try to span 3 columns */
	}

	
}
